body {
  box-sizing: border-box;
  /* it is linked */
  background-color: green;
}


.opening {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #add8e6;
}

.instr {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F0F8FF;
}

.info {
  justify-content: center;
  align-items: center;
  text-align: center;
  height: auto;
  
}

.big {
  width: 50%;
  height: 100px;
}
